<!DOCTYPE html>
<html>
	<head>
		<title> Morse Intepreter </title>
		<!-- FONT -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<!-- FIREBASE -->
		<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyCEosAaQFKkE0nFSYXrW7VbJxzl-1YYsA8",
		    authDomain: "morsedecoder-b6db6.firebaseapp.com",
		    databaseURL: "https://morsedecoder-b6db6.firebaseio.com",
		    projectId: "morsedecoder-b6db6",
		    storageBucket: "morsedecoder-b6db6.appspot.com",
		    messagingSenderId: "600973921508"
		  };
		  firebase.initializeApp(config);
		</script>
		
		<!-- JQUERY -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"> </script>

		<!-- BOOSTRAP -->
		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- MAIN.CSS -->
		<link rel="stylesheet" href="/main.css">

		<!-- MAIN.JS -->
		<script src="/main.js"></script>
		
	</head>

	<body>
		<div class="page-header text-center">
			<h2> Morse Intepreter </h2>
		</div>
		<div class="container">

			<div class="text-center">
				<button type="button" id="loading-btn" class="control-btn btn btn-default disabled" autocomoplete="off" disabled >
					Tranmission process: undefined
					<p class="control-text"> Waiting ... </p>
				</button>

				<button type="button" id="on-btn" class="control-btn btn btn-success" autocomoplete="off" >
					Tranmission process: on
					<p class="control-text"> Turn Off </p>
				</button>

				<button type="button" id="off-btn" class="control-btn btn btn-danger" autocomoplete="off" >
					Tranmission process: off
					<p class="control-text"> Turn On </p>
				</button>
			</div>

			<div class="row">

			 	<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading text-center">
							<h4> Decoded Message </h4>
						</div>
						<div class="panel-body m-content" id="message">
							<strong> No messages decoded </strong>
						</div>
					</div>
			 	</div>

				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading text-center">
							<h4> Signal Log </h4>
						</div>
						<div class="panel-body m-content" id="signal">
							<strong> No signal received </strong>
						</div>
					</div>
				</div>

		  </div>

		</div>
	</body>
</html>
